# Xcode
.DS_Store
*.swp
*.lock
*.xcarchive
*.dSYM

# Signing artifacts
*.key
*.p12
*.cer
*.pem
*.certSigningRequest

# Build generated
build/
DerivedData/

# Android Code
CamperToolsAndroid/

# Swift PM
.swiftpm/
.build/

# User specific Xcode data
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xcodeproj/xcuserdata/
